a{
	text-decoration: none;
	color:#000;
}
a:hover{
	text-decoration: none;
	color:#000;
}

.bottom{
	position:fixed;
	bottom:0;
	height:45px;
	width: 100%;
	text-align:center;
	background-color: #f8f8f8;
	padding-top: 6px;
	color:#7d7d7d;
}

.buttom a{
	color:#7d7d7d;
}
.bottom .row> div{
	cursor: pointer;
	font-size: 12px;
}

.bottom .row> div.active a{
	/*background-color: red !important;*/
	color:#f77307 !important;
}

body{
	background-color: #f5f5f5;
}
.bottom .row > div a img{
	height:18px;
}

.head{
	padding:30px 20px;
	background-color: #fff;
}

.avart{
	width:60px;
	height:60px;
	border-radius: 60px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.avart img{
	width:60px;
	height:60px;
}

.nickname{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.nickname .name{
	font-size: 18px;
	font-family: "arial";
	font-weight: normal;
}
.nickname .extral{
	font-size: 12px;
}
.head .arrowr{
	display: inline-block;
	float: right;
	padding-top: 18px;
}

.count{
	text-align: center;
	padding-top: 20px;
	padding-bottom:20px;
	margin-bottom: 10px;
	background-color: #fff;
}
.count .countitem{
	display: inline-block;
	width:23%;
}
.count .countitem div:first-child{
	font-size: 24px;
	font-weight: bold;
}
.count .countitem div:last-child{
	font-size: 12px;
}

.menulist{
	background-color: #fff;
	font-family: "arial";
}

.menuitem{
	padding:20px 20px;
	border-bottom:0.1px solid #efefef;
}
.menuitem:last-child{
	border-bottom: 0px;
}

.menupic,.menutext{
	display: inline-block;
	vertical-align: middle;
}

.menupic img{
	width: 20px;
	height:20px;
}
.menutext{
	color:#333;
	font-weight: normal;
	width:100px;
	padding-left: 6px;
}

.menulist .arrowr{
	position: static;
	display: inline-block;
	float: right;
}
