* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}

body {
	font-family: "microsoft yahei";
}

.head {
	height: 54px;
	border-bottom: 1px solid #c9cace;
	box-sizing: content-box;
	background: #FFFFFF;
}

.head ul li {
	width: 27.5%;
	float: left;
	line-height: 53px;
	text-align: center;
}

.head ul li a {
	color: #495154;
	display: block;
}

.head ul li span {
	display: inline-block;
	padding: 0px 10px;
}

.user {
	display: inline-block;
	position: relative;
	top: 10px;
	margin-left: 5px;
}

.userimg {
	width: 20px;
	height: 20px;
	float: left;
	line-height: 20px;
}

.userimg img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.username {
	font-size: 12px;
	float: left;
	line-height: 20px;
	margin-left: 5px;
}

.usertext {
	font-size: 12px;
	line-height: 17px;
}

.head ul li.active a span {
	border-bottom: 2px solid #f0696d;
	padding: 0px 10px;
}

.fenlei-cnt {
	position: absolute;
	width: 100%;
	top: 55px;
	bottom: 50px;
	overflow: hidden;
	border-top: 1px solid #f3f3f3;
}

.fenlei-left {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	vertical-align: top;
}

.fenlei-left li a {
	display: block;
	font-size: 14px;
	color: #666666;
	text-align: center;
	border-left: 5px solid #f8f8f8;
	background: #f8f8f8;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}

.fenlei-left li.active a {
	border-left: 5px solid #f0696d;
	background: #FFFFFF;
	color: #f0696d;
	border-right: 1px solid #FFFFFF;
}

.fenlei-list-img {
	height: 70px;
	width: 70px;
	float: left;
}

.fenlei-list-img img {
	width: 100%;
}

.fenlei-right {
	position: absolute;
	left: 100px;
	right: 0px;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	vertical-align: top;
}

.fenlei-list {
	padding: 0px 10px;
}

.fenlei-list li {
	background: #FFFFFF;
	border-bottom: 1px solid #f3f3f3;
	padding: 10px 0px;
	height: 90px;
	position: relative;
}

.fenlei-list-txt {
	overflow: hidden;
	padding-left: 10px;
}

.fenlei-list-txt p {
	font-size: 15px;
	color: #333;
	height: 45px;
	padding-top: 5px;
}

.fenlei-jg {
	font-size: 12px;
	font-weight: bold;
	color: #f0696d;
}

.fenlei-jg span {
	font-size: 16px;
	position: relative;
	top: 1px;
}

.fenl-tianjia {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/fenl-01.png) no-repeat;
	background-size: 100%;
	position: absolute;
	right: 10px;
	bottom: 23px;
}

.i-title {
	height: 30px;
	padding-left: 20px;
	font-size: 14px;
	background: #f8f8f8;
	line-height: 30px;
}

.wm-cz {
	position: absolute;
	right: 0;
	bottom: 10px;
}

.jian {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../images/jian.png) no-repeat center center;
	background-size: 20px 20px;
	position: relative;
	top: 10px;
	cursor: pointer;
}

.jia {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../images/jia.png) no-repeat center center;
	background-size: 20px 20px;
	position: relative;
	top: 10px;
	cursor: pointer;
}

.num {
	display: inline-block;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	top: -2px;
}

.wm-hide .jian,
.wm-hide .num {
	display: none;
}

.i-foot {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 500;
}

.gwcf {
	height: 50px;
	background: #4a4f55;
}

.gwc {
	position: absolute;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	background: #52565f url(../images/gwc.png) no-repeat center center;
	background-size: 50%;
	left: 20px;
	top: -15px;
	cursor: pointer;
}

.gwc-num {
	width: 21px;
	height: 21px;
	position: absolute;
	border-radius: 50%;
	text-align: center;
	line-height: 21px;
	font-size: 12px;
	color: #FFFFFF;
	background: #ff5b5c;
	right: -6px;
	top: -6px;
}

.qisongtis {
	font-size: 14px;
	color: #FFFFFF;
	line-height: 50px;
	padding-left: 80px;
	float: left;
}

.gwc-tishi {
	float: right;
	line-height: 50px;
	width: 110px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
}

.gwc-jiag {
	display: none;
	float: left;
	line-height: 47px;
	padding-left: 80px;
	font-size: 14px;
	color: #FFFFFF;
}

.gwc-btn {
	float: right;
	line-height: 50px;
	width: 110px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	display: none;
	background: #ff5b5c;
	font-size: 16px;
	cursor: pointer;
}

.gwc-jiag span {
	font-size: 20px;
	font-weight: bold;
	margin-left: 5px;
	position: relative;
	top: 1px;
}

.gwc-jiag i{
        font-size: 20px;
        color: red;
        position: relative;
        top: 1px;
}

.gwcishas .gwc-num {
	display: block;
}


/*
.gwcishas .gwc-tishi{
	display: none;
}
.gwcishas .gwc-btn{
	display: block;
}*/

.gwc-lis {
	display: none;
}

.gwclisshow .gwc-lis {
	display: block;
}

.gwc-title {
	height: 36px;
	background: #e0e0e0;
	text-align: right;
	padding-right: 5px;
}

.cleargwc {
	font-size: 14px;
	color: #666d75;
	line-height: 36px;
}

.cleargwc i {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/del.png) no-repeat;
	background-size: 100%;
	position: relative;
	top: 4px;
	margin-right: 3px;
}

.gwclisshow .gwc-jiag {
	padding-left: 23px;
}

.gwc-lis ul {
	background: #FFFFFF;
}

.gwc-lis ul li {
	height: 36px;
	border-bottom: 1px solid #ddd;
	padding: 6px;
}

.gwc-lis ul li:after {
	content: " ";
	display: block;
	clear: both;
}

.gwc-lis .wm-cz {
	position: relative;
	float: right;
	top: -1px;
}

.shop-jg {
	float: right;
	width: 70px;
	font-size: 12px;
	color: #ef8343;
}

.shop-jg span {
	font-size: 16px;
	margin-left: 4px;
}

.shop-title {
	overflow: hidden;
	white-space: nowrap;
	padding-right: 20px;
	text-overflow: ellipsis;
	font-size: 14px;
	padding-top: 2px;
}

.xiadan-box {
	background: #FFFFFF;
	margin-bottom: 12px;
}

.xiadan-dz {
	padding: 12px;
	font-size: 14px;
}

.xiadan-name i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/name.png) no-repeat;
	background-size: 100%;
	position: relative;
	top: 2px;
	margin-right: 5px;
}

.xiadan-tel {
	margin-left: 20px;
}

.xiadan-tel i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/tel.png) no-repeat;
	background-size: 100%;
	position: relative;
	top: 2px;
	margin-right: 5px;
}

.xiadan-dizhi {
	padding-top: 7px;
	font-size: 14px;
	color: #666;
}

.xiadan-dizhi i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/dizhi.png) no-repeat;
	background-size: 100%;
	position: relative;
	top: 2px;
	margin-right: 5px;
}

.xiadan-zhif li {
	line-height: 46px;
	height: 46px;
	padding: 0px 12px;
	border-bottom: 1px solid #d0d0d0;
	font-size: 14px;
	position: relative;
	cursor: pointer;
}

.xiadan-zhif li i {
	position: absolute;
	right: 30px;
	top: 11px;
	border-radius: 50%;
	width: 21px;
	height: 21px;
	border: 1px solid #979797;
}

.xiadan-zhif li.active i {
	border: 1px solid #ff5b5c;
	background: #ff5b5c url(../images/duigou.png) no-repeat center center;
	background-size: 18px 18px;
}

.songd-time {
	line-height: 45px;
	padding: 0px 12px;
	font-size: 14px;
	border-bottom: 1px solid #d0d0d0;
}

.songd-time label {
	float: left;
}

.songd-time .songda-t {
	float: right;
	color: #acacac;
}

.songd-time .songda-t i {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/sel.png) no-repeat;
	background-size: 100%;
	position: relative;
	top: 2px;
}

.songd-beizhu {
	padding: 10px 12px;
	font-size: 14px;
}

.songd-bztextarea {
	width: 100%;
	border: 1px solid #d0d0d0;
	margin-top: 5px;
	height: 50px;
	resize: none;
	padding: 5px;
	font-size: 14px;
	font-family: "microsoft yahei";
}

.dingda-title {
	padding: 0px 12px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	border-bottom: 1px solid #d0d0d0;
}

.dingda-d {
	float: right;
}

.xiadan-ul {
	font-size: 14px;
}

.xiadan-ul li {
	height: 46px;
	line-height: 46px;
	border-bottom: 1px solid #d0d0d0;
	padding: 0px 12px;
	overflow: hidden;
}

.xiadan-ul li span {
	width: 70px;
	display: inline-block;
	text-align: right;
}

.xiadan-ul li label {
	font-size: 13px;
	color: #bcbcbc;
	display: inline-block;
	width: 40px;
	text-align: right;
}

.xiadan-ul li p {
	padding-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dingda-jiag {
	height: 46px;
	line-height: 46px;
	padding: 0px 12px;
	font-size: 14px;
}

.dingda-jiag span {
	margin-right: 10px;
}

.dingda-jiag p {
	float: right;
}

.xiadan-foot {
	height: 46px;
	line-height: 46px;
	padding: 0px 0px 0px 12px;
	font-size: 14px;
}

.xiadan-foot a {
	display: inline-block;
	height: 46px;
	line-height: 46px;
	float: right;
	width: 116px;
	text-align: center;
	background: #fcc433;
	color: #FFFFFF;
}

.zhifu-div {
	height: 46px;
	line-height: 46px;
	background: #FFFFFF;
	padding: 0px 12px;
	color: #b3b3b3;
	font-size: 14px;
}

.zhifu-div span {
	margin-left: 10px;
	color: #ff5b5c;
}

.zhifu-box {
	background: #FFFFFF;
	margin-top: 10px;
	padding: 12px;
	border-bottom: 1px solid #b2b2b2;
	font-size: 14px;
}

.zhifu-tab {
	width: 100%;
}

.zhifu-td {
	text-align: center;
	width: 113px;
}

.zhifu-tab p {
	color: #b7b7b7;
	padding: 2px;
}

.zhifu-btn {
	height: 44px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: #ff5b5c;
	text-align: center;
	line-height: 44px;
	color: #FFFFFF;
	font-size: 16px;
}

.myborde {
	border-top: 15px solid #f0f0f0;
}

.dingdan-lis {
	border-bottom: 15px solid #f0f0f0;
}

.dingdan-title {
	height: 35px;
	line-height: 35px;
	padding: 0px 12px;
	border-bottom: 1px solid #d0d0d0;
	font-size: 14px;
}

.dingdan-lisul {
	padding: 6px 12px;
}

.dingdan-lisul li {
	font-size: 12px;
	color: #a2a2a2;
	line-height: 24px;
}

.dingdan-lisul li:after {
	content: " ";
	display: block;
	clear: both;
}

.dingdan-lisul li p {
	float: left;
}

.dingdan-lisul li span {
	float: right;
}

.xinxi {
	padding: 0px 12px;
	text-align: right;
	font-size: 12px;
	padding-bottom: 12px;
	border-top: 1px solid #d0d0d0;
	padding-top: 5px;
}

.mydingd-btn {
	height: 26px;
	line-height: 26px;
	border: 1px solid #ff5b5c;
	color: #ff5b5c;
	display: inline-block;
	padding: 0px 10px;
	margin-top: 5px;
}

.mychongz .xiadan-zhif span {
	color: #f0696d;
	font-size: 16px;
}

.mybtnbox {
	text-align: center;
	padding: 10px;
}

.mybtnbox a {
	display: inline-block;
	height: 40px;
	width: 90px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
	background: #ff5b5c;
}

.mychongz .dingda-title {
	background: #fff;
	margin-top: 10px;
	font-size: 15px;
}

.my-form li {
	line-height: 46px;
	height: 46px;
	padding: 0px 12px;
	border-bottom: 1px solid #d0d0d0;
	font-size: 14px;
	position: relative;
}

.my-form li label {
	float: left;
}

.my-formright {
	overflow: hidden;
}

.xiadan-input {
	width: 100%;
	height: 40px;
	text-align: right;
	border: none;
	outline: none;
	font-family: "microsoft yahei";
}

.red {
	color: red;
}

.flspan {
	width: 21px;
	height: 21px;
	border-radius: 50%;
	text-align: center;
	line-height: 21px;
	font-size: 12px;
	color: #FFFFFF;
	background: #ff5b5c;
	display: inline-block;
}

.foot-fix {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}


/***********Ê±¼ä***************/




button,
input,
textarea {
	font: inherit;
	margin: 0;
	padding: 0;
	outline: 0
}

input::placeholder {
	opacity: 1;
	color: #bbb
}

button {
	cursor: pointer;
	border: 0;
	outline: 0;
	background: transparent;
	appearance: none;
	-webkit-tap-highlight-color: transparent
}

button::-moz-focus-inner {
	padding: 0;
	border-style: none
}

a,
button,
input,
label,
li,
textarea {
	-webkit-tap-highlight-color: transparent
}


.btn--ellips {
	font-size: 12px;
	line-height: 28px;
	height: 28px;
	padding: 0 .8em;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-radius: 14px
}

.btn--yellow {
	text-align: center;
	color: #fff;
	background: #ffc333
}

.btn--yellow.btn-disabled {
	background: #b7b7b7
}

.btn-choose-property {
	float: right;
	color: #ff8b3f;
	border-color: #e6e8eb
}

.btn-arrow-right:after {
	float: right;
	width: 20px;
	height: 22px;
	content: '';
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAiCAQAAAD4vUFxAAAAq0lEQVQ4y63U3QqBURCF4XVtkp8kyV+SRJIkSZIkN/KWu9zs/TlxB9YcaJ8+taeZWSOeLNDvJ+YUlg6JGRUrh8SUD2uHxJiKjUNiSGHrkBiQ2Tkk+mT2DokemYNDokvm6JDoUDg5JNpkzg6JFm8uDokmL64OiQaJm0OiTuLukKiRePwBBb4LFB5oQaCZgbEEBhxYlcDSBdY3EIRApEY+nBMf88DBCJ2ewBH7Aqbrq0XWgMNTAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 10px 18px
}

.btn-tickbox {
	position: relative;
	width: 22px;
	height: 22px;
	transition: border-color .25s ease-in-out, box-shadow .25s ease-in-out;
	border: 1px solid #e1e1e1;
	border-radius: 50%
}

.btn-tickbox:before {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '';
	transition: transform .25s ease-in-out .25s;
	transform: scale(0);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAWCAQAAAB0gUQ+AAAA60lEQVQ4y5XTPQrCMBTA8VxAJ6VH8GMQFBxEHARBEBwE7+ER/By8g4uHcbeLnkBEFFERRR38O9TQl1Jrmg4vL+mvhJdXhYrxVLwYh0x404uHJgAesyVj9HjTi0vgRdeGjAR50rE5nknaNoUYCvKgZVNySe409XoUGQhyo+HveCHBjHQkqcs9hSLJAnANJsmVmvlBTQBcUt/lviAXqsGDK+bihSWpADnrJjWRw9pgU5GdKIeVSBFk/jhSCq+rF8LYgeKvy9ATh5VB9hR+36A/lWxHPqpTZKLZllx0R5qpw4oNmX+dH1xwyP7/wz6yBs86BnWwpQAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 13px 10px
}

.btn-tickbox:after {
	position: absolute;
	z-index: 10;
	top: -12px;
	right: -10px;
	bottom: -12px;
	left: -12px;
	content: '';
	cursor: pointer
}

.btn-tickbox.is-checked {
	border-color: #ff8b3f;
	box-shadow: inset 0 0 0 10px #ff8b3f
}

.btn-tickbox.is-checked:before {
	transform: scale(1)
}

.btn-toggle {
	position: relative;
	width: 52px;
	height: 32px;
	margin: -5px 0;
	padding: 2px;
	transition: background .25s ease-in-out;
	border-radius: 16px;
	background: #d8dbe0
}

.btn-toggle:before {
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 2px;
	width: 28px;
	height: 28px;
	content: '';
	transition: transform .25s ease-in-out;
	border-radius: 50%;
	background: #fff
}

.btn-toggle.is-checked {
	background: #ff8b3f
}

.btn-toggle.is-checked:before {
	transform: translateX(20px)
}

.btn-submit {
	font-size: 18px;
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.text-dove-grey {
	color: #656565
}

.text-picton-blue {
	color: #51b4f3
}

.text-froly {
	color: #f87373
}

.price:before {
	margin-right: 1px;
	content: '\A5'
}

.discount:before {
	margin-right: 1px;
	content: '-\A5'
}

.badge-price {
	margin-left: .5em;
	color: #ddd;
	border: 1px solid #ddd;
	border-radius: 10px
}

.badge-coupon,
.badge-price {
	font-size: 12px;
	line-height: 18px;
	display: inline-block;
	height: 20px;
	padding: 0 6px;
	vertical-align: 1px
}

.badge-coupon {
	color: #f87373;
	border: 1px solid;
	border-radius: 10px
}

.badge-bi {
	font-size: 12px;
	line-height: 18px;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: .5em;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	background: #68e1fe
}

.badge-bi:before {
	content: '\5FC5'
}

.flex-columns {
	display: flex;
	flex-direction: column;
	height: 100%
}

.flex-row {
	display: flex;
	flex-direction: row;
	width: 100%
}

.flex-none {
	flex: none
}

.flex-rest {
	overflow: auto;
	flex: 1;
	-webkit-overflow-scrolling: touch
}

.clearfix:after {
	display: table;
	clear: both;
	content: ''
}

.half {
	float: left;
	width: 50%
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%)
}

.options-group {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	background: #fff
}

.options-group:empty {
	border-style: none
}

.option {
	font-size: 16px;
	line-height: 22px;
	display: block;
	overflow: hidden;
	padding: 12px 10px;
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #e1e1e1
}

.option:last-child {
	border-bottom: 0
}

.option-title {
	float: left;
	width: 110px
}

.option-content {
	float: right;
	width: calc(100% - 110px)
}

.option-desc {
	color: #999
}

.option-input {
	font-size: 16px;
	float: left;
	width: 85%;
	color: #656565;
	border: 0;
	outline: 0
}

.option-input[disabled] {
	background: transparent
}

.option-input[type=number]::-webkit-inner-spin-button,
.option-input[type=number]::-webkit-outer-spin-button {
	appearance: none
}

.option-radio {
	display: none
}

.option-radio+.btn-tickbox {
	float: left;
	margin-right: 5px
}

.option-radio~.option-desc {
	line-height: 18px;
	float: left;
	padding-top: 4px
}

.option-radio:checked+.btn-tickbox {
	border-color: #ff8b3f;
	box-shadow: inset 0 0 0 10px #ff8b3f
}

.option-radio:checked+.btn-tickbox:before {
	transform: scale(1)
}

.subpage {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	background: #f0f0f0;
	-webkit-overflow-scrolling: touch
}

.subpage-submit-btn {
	font-size: 18px;
	height: 50px
}

.toast {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 150px;
	padding-top: 30vh;
	background: transparent
}

.toast-content {
	font-size: 14px;
	line-height: 18px;
	position: relative;
	left: 50%;
	float: left;
	min-width: 100px;
	max-width: 150px;
	padding: 15px;
	transform: translateX(-50%);
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background: rgba(0, 0, 0, .5)
}

.toast-content:before {
	font-size: 64px;
	font-weight: 700;
	line-height: 1;
	display: block;
	margin: 5px 0;
	content: '!'
}

.slideup-enter .scroll-select-content {
	transform: translate3D(0, 100%, 0)
}

.slideup-enter .scroll-select-close {
	opacity: 0
}

.slideup-enter-active .scroll-select-content {
	transition: transform .3s ease-in-out;
	transform: translate3D(0, 0, 0)
}

.slideup-enter-active .scroll-select-close {
	transition: opacity .3s ease-in-out;
	opacity: 1
}

.slideup-leave .scroll-select-content {
	transform: translate3D(0, 0, 0)
}

.slideup-leave .scroll-select-close {
	opacity: 1
}

.slideup-leave-active .scroll-select-content {
	transition: transform .3s ease-in-out;
	transform: translate3D(0, 100%, 0)
}

.slideup-leave-active .scroll-select-close {
	transition: opacity .3s ease-in-out;
	opacity: 0
}

.scroll-select {
	position: relative;
	overflow: hidden
}

.scroll-select:before {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 0;
	width: 100%;
	height: 40px;
	margin-top: -20px;
	content: '';
	border-top: 1px solid #ff8933;
	border-bottom: 1px solid #ff8933
}

.scroll-select:after {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	pointer-events: none;
	background-image: linear-gradient(180deg, #fff 0, hsla(0, 0%, 100%, 0) 40%, hsla(0, 0%, 100%, 0) 60%, #fff)
}

.scroll-wrapper [data-option] {
	font-size: 18px;
	line-height: 20px;
	display: block;
	overflow: hidden;
	height: 40px;
	padding: 11px 5px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis
}

.scroll-wrapper [data-option].is-checked {
	color: #ff8933
}

.scroll-wrapper>.placeholder-container {
	visibility: hidden
}

.scroll-select-container {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -100;
	visibility: hidden;
}
.scroll-show{
	z-index: 1000;
	visibility: visible;
}
.scroll-select-close {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .5)
}

.scroll-select-content {
	position: absolute;
	z-index: 10;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff
}

.scroll-select-header {
	font-size: 17px;
	line-height: 40px;
	overflow: hidden;
	padding-left: 10px;
	color: #333;
	box-shadow: inset 0 -1px 0 #ddd, inset 0 1px 0 #ddd
}
.scroll-select-header span{
	font-size: 14px;
}
.scroll-select-confirm {
	float: right;
	width: 80px;
	height: 40px
}

.flex-area-select {
	flex: 4
}

.flex-table-select {
	flex: 6
}
.fenlei-list li img{
	width: 70px;
	height: 70px;
}
.dingda-jiag b{
	font-weight: normal;
}
.xiadan-dz b{
	font-weight: normal;
}
.xiadan-dizhi input,.xiadan-tel input{
	width: 85%;
	border: none;
	padding: 5px;
}
.xiadan-tel input{
	width: 50%;
}
.xiadan-dizhi{
	position: relative;
}
.xiadan-dizhi.edit input,.xiadan-tel.edit input{
	border: 1px solid #ccc;
}
.editbtn{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 10px;
	background: url(../images/edit.png) no-repeat;
	background-size: 100%;
}
.xiadan-dizhi.edit .editbtn{
	background: url(../images/queren.png) no-repeat;
	background-size: 100%;
}
.xiadan-zhif li b{
	font-weight: normal;
	position: absolute;
	left: 40%;
}
.ui-loader{
	display: none;
}
.ui-input-text{
	display: inline-block;
}
.tishi-hui{
	font-size: 12px;
	color: #ACACAC;
	margin-left: 10px;
}
.tishi-hong{
	font-size: 12px;
	color: #f0696d;
	margin-left: 10px;
}
.loding{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: url(../images/ajax-loader.gif) no-repeat center center;
	opacity: 0.3;
}
#orderlist .jia{
        width: 30px;
        height: 30px;
        position: relative;
        top: -2px;
}
#orderlist .jian{
        width: 30px;
        height: 30px;
        position: relative;
        top: -2px;
}
#orderlist .num{
        position: relative;
        top: -10px;
}
#orderlist li{
        overflow: hidden;
}
